# PhantomJS
ghostdriver.log

# vim
*.swo
*.swp

# Vagrant checkout
hypernode-vagrant

# python bytecode
*.pyc

# Pycharm
.idea

# acme challenge
.well-known

# sub-sites
hypernode-vagrant
hypernode-docker
hypernode-magerun
